

.detail{
 position: absolute;
    left: 40%;
    top: 10%;
    border: 2px solid grey;
    padding: 2rem;
    border-radius: 1rem;
}

.detail h2{

    font-size: 2rem;
}
.detail p{

    font-size: 1rem;
}
.price-deets{
font-weight: bold;
}
.deets-btn{
    position: absolute;
    top: 80%;
    left:5%;
    

}
.deets-btn button{
    margin-left: 5px;
   background-color: rgb(100, 100, 100);
   border: none;
   color: white;
}
